/* ----------------------------
ul li:nth-child(1),
ul li:nth-child(3){
    background-color: blue;
} 
------------------------------- */

/* 홀수 번째를 쓸 때는 odd */
/* 짝수 번째를 쓸 때는 even */

ul li:nth-child(odd){
    background-color: red;
}

ul li:nth-child(even){
    background-color: blue;
}

ol li{
    background-color: yellow;
    color: pink;
}

ul li{
    color: yellow;
}

ol li:first-child{
    background-color: black;
}

ol li:last-child{
    background-color: green;
}


ul{
    /* border-width: 3px; */
    /* border-style: solid; 직선 */
    /* border-style: dashed; 네모 점선 dotted 동그라미 점선 */
    /* border-style: dotted; */
    /* border-color: black; */
    border: 5px solid black;
    border-radius: 50px;
    overflow: hidden;
}

ol{
    /* border: 10px soild purple; */
    border-top: 3px solid red;
    border-left: 3px solid blue;
    border-bottom: 3px solid purple;
    border-right: 3px solid orange;
    /* --------------------------------
    border-top-left-radius: 20px;
    border-top-right-radius: 50px;
    border-bottom-left-radius:100px;
    border-bottom-right-radius: 100px;
    ------------------------------------- */
    border-radius: 30px;
    overflow: hidden
}







