*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main{
    width: 100%;
    height: 100vh;
    background-color: hsl(0, 0%, 90%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.site__header{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 1rem; */
    width: 600px;
    height: 60px;
    box-shadow: 0 0 5px 1px  rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding-left: 1.5rem;
}

nav{
    display: flex;
    height: 60px;

}

.menu{
    display: flex;
    list-style: none;
    height: 100%;
 
}

.menu li{
    height: 100%;
    display: flex;
    justify-content: center;
}

.menu-item{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    padding: 0 10px;
    font-weight: bold;
    font-size: 12px;
    height: 100%;
    position: relative;
    z-index: 0;
}

.menu-item:hover{
    color: dodgerblue;
}

.menu-item::before,
.menu-item::after{
    position: absolute;
    content: '';
    width: 100%;
    left: 0;
}

.menu-item::before{
    top:0;
    height: 100%;
    background-color: transparent;
    transform: translateY(100%);
}

.menu-item::after{
    bottom: 0;
    height: 0px;
    background-color: dodgerblue;
}

.menu-item:hover::after{
    height: 4px;
}

.menu-item.active{
    color: white;
}

.menu-item.active:hover{
    color: white;
}

.menu-item.active::before{
    transform: translateY(0);
    background-color: dodgerblue;
    z-index: -1;
}

.brand{
    font-size: 20px;
    font-weight: bold;
}

.brand--point{
    color: dodgerblue;
}