@font-face {
  font-family: "LibreBaskerville-Bold";
  src: url("../assets/font/LibreBaskerville-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "LibreBaskerville-Italic";
  src: url("../assets/font/LibreBaskerville-Italic.ttf");
}

@font-face {
  font-family: "LibreBaskerville-Regular";
  src: url("../assets/font/LibreBaskerville-Regular.ttf");
}
@font-face {
  font-family: "NotoSans";
  src: url("../assets/font/NotoSansKR-VariableFont_wght.ttf");
}

:root {
  --Bold: "LibreBaskerville-Bold";
  --Regular: "LibreBaskerville-Regular";
}

html {
  font-family: "NotoSans";
}

a,
h1,
h2,
h3,
h4 {
  font-weight: 700;
}

button {
  font-weight: 500;
}
