*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.box{
    width: 100%;
    max-width: 100%;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-color: hsl(41, 82%, 95%);
    padding: 2rem;;
}

.background{
    background-image: url('https://images.pexels.com/photos/18110321/pexels-photo-18110321.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    height: 30vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.card{
    width: 40%;
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.text{
    height: 17vh;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 1.5rem;
    gap: 1rem;
    justify-content: center;
}

.btn{
    background-color: white;
    border: 1px solid  gray;
    border-radius: 20px;
    padding: 3px 12px;
    font-weight: 600;
}

.btn:hover{
    background-color: hsl(315, 77%, 95%);
    transition: all 0.2s ease;
    border: 1px solid hsl(315, 77%, 80%);
}

.daegu{
    display: flex;
    height: 9vh;
    background-color: white;
    align-items: center;
    padding: 1.5rem;
    border-top: 1px solid #c5c2c2;
    color: hsl(0, 0%, 60%);
    font-weight: 600;
    gap: 10px;
}

.text p{
    color: hsl(0, 0%, 60%);
    font-weight: 900;
    letter-spacing: -0.4px;
}

.icon{
    color: red;
}

.check{
    color: green;
}