*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
}

.circle{
    width: 200px;
    height: 200px;
    background-color: aqua;
    /* animation-name: morph; */
    /* animation-duration: 2s; */
    /* 애니메이션 재생속도 */
    /* animation-iteration-count: infinite; */
    /* 애니메이션 반복횟수 */
    /* animation-direction: alternate; */
    /* normal- 정방향 reverse- 역방향 alternate- 정방향 진행 후 역방향 */
    /* animation-delay: 0s; */
    /* 애니메이션 지연 */
    /* animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1)(0.075, 0.82, 0.165, 1); */
    animation: morph 2s infinite alternate cubic-bezier(0.165, 0.84, 0.44, 1);
}

@keyframes morph{
    0%{
        border-radius: 0;
        transform:translateX(0) rotate(0);
        background-color: red;
    }

    50%{
        transform:translate(calc(50vw - 100px), 300px) rotate(360deg);
        background-color: green;
    }
    100%{
        border-radius: 50%;
        transform:translateX(calc(100vw - 200px)) rotate(3600deg);
        background-color: blue;
    }
}