*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img{
    width: 100%;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}


.gallery{
    display: grid;
    grid-template-columns: 1fr 1fr;
    // gap: 10px;
    // column-gap: ; row-gap: ;

    figure{
        aspect-ratio: 1/1;
        overflow: hidden;
    }

    @media(min-width:1024px){
        grid-template-columns: repeat(3, 1fr);
    }

    @media(min-width:1200px){
        grid-template-columns: repeat(4, 1fr);
        & figure:nth-child(1){
            grid-column: 1/3;
            grid-row: 1/3;
        }

    }
}

