<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=
    , initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div class="container">
        <div class="box">
            <img src="image/pexels-photo-1671878.jpg" alt="">
        </div>
        <div class="box">
            <img src="image/pexels-photo-1718168.jpg" alt="">
        </div>
        <div class="box">
            <img src="image/pexels-photo-754367.jpg" alt="">
        </div>
        <div class="box">
            <img src="image/pexels-photo-1720669.webp" alt="">
        </div>
        <div class="box">
            <img src="image/pexels-photo-3339532.jpg" alt="">
        </div>
        <div class="box">
            <img src="image/pexels-photo-722011.jpg" alt="">
        </div>
        <div class="box">
            <img src="image/pexels-photo-734836.jpg" alt="">
        </div>
    </div>
</body>

</html>