*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 400px;
    margin:0 auto;
    display: flex;
    justify-content: center;
}
.container{
    /* width: 400px; */
    display: flex;
    flex-wrap: wrap;
}


button{
    flex-basis: calc(100%/5);
    border: 0;
    background-color: black;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 40px;
}
